body {
    background-color: #28DAD4;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.waves,
.mounts {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

input {
    border: none;
    padding: 9px 10px;
}

.waves div,
.mounts div {
    position: absolute;
    width: 100%;
}

.clouds {
    position: absolute;
    width: 100%;
    left: 0;
    top: 77px;
    height: 151px;
    background: url(https://greghub.github.io/coloron/public/svg/clouds.svg) repeat-x;
    background-position-x: 170px;
}

.top_wave {
    background: url(https://greghub.github.io/coloron/public/svg/top_wave.png) repeat-x 0 -1px;
    height: 35px;
    bottom: 0;
    z-index: 10001;
}

.wave1 {
    background: url(https://greghub.github.io/coloron/public/svg/wave1.svg) repeat-x;
    height: 150px;
    bottom: 0;
    z-index: 23;
}

.wave2 {
    background: url(https://greghub.github.io/coloron/public/svg/wave2.svg) repeat-x;
    height: 180px;
    bottom: 30px;
    z-index: 22;
}

#operation {
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

option {
    cursor: pointer;
}

.wave3 {
    background: url(https://greghub.github.io/coloron/public/svg/wave3.svg) repeat-x;
    height: 180px;
    bottom: 90px;
    z-index: 21;
}

.wave4 {
    background: url(https://greghub.github.io/coloron/public/svg/wave4.svg) repeat-x;
    height: 180px;
    bottom: 120px;
    z-index: 20;
}

.mount1 {
    background: url(https://greghub.github.io/coloron/public/svg/mount1.svg) repeat-x;
    height: 150px;
    bottom: 280px;
    z-index: 11;
}

.mount2 {
    background: url(https://greghub.github.io/coloron/public/svg/mount2.svg) repeat-x;
    height: 150px;
    bottom: 290px;
    z-index: 10;
}

.noise {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1010;
    background: url(https://greghub.github.io/coloron/public/svg/noise.png);
}

.glow {
    position: absolute;
    left: -350px;
    top: -350px;
    width: 800px;
    height: 800px;
    background-color: rgba(81, 237, 200, 0.34);
    border-radius: 50%;
    box-shadow: 0 0 100px 100px rgba(81, 237, 200, 0.34);
    z-index: 1010;
}

.sun {
    position: relative;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
    background-color: rgba(255, 227, 69, 1);
    border-radius: 50%;
    box-shadow: 0 0 32px 32px rgba(255, 227, 69, 1), 0 0 150px 150px rgba(103, 244, 210, 0.4);
}

.small-glow {
    z-index: 99;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.34);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.34);
}

.small-glow.yellow {
    background-color: rgba(255, 227, 69, 0.34);
    box-shadow: 0 0 4px 4px rgba(255, 227, 69, 0.34);
}

@media screen and (max-height: 480px) {
    .glow {
        width: 240px;
        height: 240px;
        left: -90px;
        top: -90px;
    }
    .sun {
        box-shadow: 0 0 20px 20px rgba(255, 227, 69, 1), 0 0 150px 150px rgba(103, 244, 210, 0.4);
    }
    .small-glow {
        transform: scale(0.5);
    }
    .waves div {
        background-size: auto 100%
    }
    .wave1,
    .wave2,
    .wave3,
    .wave4 {
        height: 80px;
    }
    .top_wave {
        height: 20px;
    }
    .wave1 {
        bottom: -20px;
    }
    .wave2 {
        bottom: 10px;
    }
    .wave3 {
        bottom: 40px;
    }
    .wave4 {
        bottom: 60px;
    }
    .mount1 {
        background-size: auto 80%;
        height: 80px;
        bottom: 120px;
    }
    .mount2 {
        background-size: auto 80%;
        height: 120px;
        bottom: 130px;
    }
    .clouds {
        top: 25px;
        height: 60px;
        background-size: auto 100%;
    }
}

@media screen and (max-height: 320px) {
    .rotate {
        position: fixed;
        z-index: 99999;
        background-color: #28DAD4;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
    .rotate:before {
        display: block;
        content: " ";
        height: 40%;
    }
}

.content {
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    z-index: 4363643643;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bg {
    color: #fff;
    text-align: center;
}